body{
    margin: 0px;
    font-family: Poppins, sans-serif;
}
.welcome{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

   
}
.flexible_container{
    display: flex;
    margin-bottom: 150px;
}
.f-half{
    width: 50%;
    text-align: left;
    
    margin-left: 30px;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
span{
    color: #ffa600;
}
a{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-image: radial-gradient(orange, tomato);
    border-radius: 5px;

}
p{
    margin-bottom: 50px;
}
.l-half{
    width: 50%;
}
.l-half img{
    width: 80%;
    height: 90%;
}
.dream{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box{
    margin-left: 5%;
    margin-right: 5%;
}
.text{
    padding-left: 20px;
}
.box-1{
    width: 40%;
    margin: 0 10%;
    box-shadow: 10px 10px 15px gray;
}
.box-2{
    width: 40%;
    box-shadow: 10px 10px 15px gray;
}